<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="csvpath" value="D:\\CheckFactor2\\{0}因子\\{1}\\{2}.csv"></add>
    <add key="txtpath" value="D:\\test5\\Factor.csv"></add>
    <add key="AllExchangeMonths" value="D:\\test5\\AllExchangeMonths.txt"></add>
    <add key="SecurityType" value="Ashares"></add>
  </appSettings>
</configuration>